.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
    vertical-align: middle;
}

.small-width {
	width: 100px;
}

span.redsuit {
     color: #CC0000;
}

span.blacksuit {
     color: black;
}